{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>接口测试 - 编辑接口参数</title>
    <script type="text/javascript" charset="gbk" src="{% static "js/jquery-1.4.4.min.js" %}"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    {#    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/fileinput.min.css">
    {#    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">#}
    <script type="text/javascript" charset="gbk" src="{% static "js/fileinput.min.js" %}"></script>

    <script type="text/javascript">
        window.onload = function () {
            set_para();
        };
    </script>
</head>

<body>
<form id="form_edit_window" method="post" action='/save_edit_para_suit/{{ edit_id }}/{{ module }}/'>
    {% csrf_token %}
    <div class="modal-body">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" style="background-color: blanchedalmond;font-size: 12px">页面切换</span>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning active" id="no" style="font-size: 12px" onclick="show_no()">
                                    <input type="radio" class="is_no" name="is_no" id="no1" value="0" checked="checked">接口基本信息
                                </label>
                                <label class="btn btn-warning" id="yes" style="font-size: 12px" onclick="show_yes()">
                                    <input type="radio" class="is_yes" name="is_yes" id="yes1" value="1">接口返回参数
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="col-md-2">#}
{#                <div class="form-group">#}
{#                    <div class="col-md-12">#}
{#                        <button type="submit" class="btn btn-danger btn-sm" id="submit" value="submit" style="width: 100px">保存</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>

        <div class="row" id="no_div1">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" style="font-size: 12px">头信息</span>
                            <textarea id="head" name="head" rows="6" style="width: 255px;font-size: 12px;word-break: break-all" placeholder='说明：&#10;1、格式：{"key1":"value1","key2":"value2"}&#10;2、头信息为空则写为：{}&#10;3、必填头信息：Accept、Content-Type、Cookie' spellcheck="false">{{ head }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" style="font-size: 12px">请求方式</span>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-warning" id="GET" style="font-size: 12px">
                                    <input type="radio" name="mode" id="GET1" value="GET">GET
                                </label>
                                <label class="btn btn-warning" id="POST" style="font-size: 12px">
                                    <input type="radio" name="mode" id="POST1" value="POST">POST
                                </label>
                                <label class="btn btn-warning" id="UPLOAD_PIC" style="font-size: 12px">
                                    <input type="radio" name="mode" id="UPLOAD_PIC1" value="UPLOAD_PIC">UPLOAD_PIC
                                </label>
                            </div>
                        </div>
                        <span style="font-size: 12px">* 如果选择"UPLOAD_PIC"，"Content-Type"的值设为空</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" style="font-size: 12px">更新cookie</span>
                            <input id="suit_cookie" type="text" class="form-control" value="{{ update_cookie }}" style="font-size: 12px">
                        </div>
                        <span style="font-size: 12px">* 非必填，只有登录接口才需要填写</span><br>
                        <span style="font-size: 12px">* 填写公共参数中关联cookie的关键字，例如要更新物业平台cookie，请填写：{wypt}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="input-group">
                            <textarea class="formated_dict" id="para_body" name="formated_dict" rows="7" style="width: 460px;font-size: 12px;display: none" spellcheck="false">{{ para_dict }}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="position: relative">
                <div style="width: 300px;background-color: #eaebee;border: 1px solid;border-radius:2px;text-align: center;">接口请求参数</div>
                <textarea class="original_body" rows="20" style="width: 300px;font-size: 12px;word-break: break-all"
                          placeholder='请输入原始参数。说明：&#10;1、支持多种参数格式；&#10;2、参数只支持：字母、数字、下划线、中文。如果一个参数有多个值，则每个值之间以,分隔。'
                          required="" spellcheck="false">{{ para_str }}</textarea>
                <br><br>
                <div class="input-group">
                    <span class="input-group-addon" style="font-size: 12px">请求参数格式</span>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-warning" id="is_FORM" style="font-size: 12px">
                            <input type="radio" name="body_format" id="is_FORM1" value="0">FORM
                        </label>
                        <label class="btn btn-warning" id="is_JSON" style="font-size: 12px">
                            <input type="radio" name="body_format" id="is_JSON1" value="1">JSON
                        </label>
                    </div>
                </div>
                <span style="font-size: 12px">* 只有"Content-Type"包含"application/json;"时才选择JSON，其余都选择FORM</span>
            </div>
            <div class="col-md-1" style="position: relative;margin-left: -40px;margin-top: 220px">
                <button type="button" class="btn btn-primary" onclick="format_body_suit(this)">格式化参数<br>→</button>
            </div>
            <div class="col-md-3" style="position: relative;margin-left: -10px">
                <div style="width: 300px;background-color: #eaebee;border: 1px solid;border-radius:2px;text-align: center">接口请求参数</div>
                <textarea class="formated_str" rows="25" style="width: 300px;font-size: 12px;word-break: break-all" disabled="disabled" placeholder='请点击"格式化参数"，等待输出结果' required="" spellcheck="false">{{ para_str }}</textarea>
            </div>

            <div class="col-md-2" style="width: 260px">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <caption>关键字列表</caption>
                        <thead style="display: table;width: 100%;table-layout: fixed;">     <!--table加滚动条，改这里-->
                        <tr>
                            <th style="width: 30px;text-align: center;font-size: 12px">#</th>
                            <th style="width: 50px;text-align: center;font-size: 12px">关键字</th>
                            <th style="width: 50px;text-align: center;font-size: 12px">所属模块</th>
                            <th style="text-align: center;font-size: 12px">类型</th>
                        </tr>
                        </thead>

                        <tbody id="tbody_edit" style="overflow-y: scroll;height: 323px;display: block;">
                        <!--table加滚动条，改这里-->
                        {% for rec2 in public_list_all %}
                            <tr style="display: table;width: 100%;table-layout: fixed;">    <!--table加滚动条，改这里-->
                                <td style="width: 30px;white-space: normal;text-align: center;font-size: 12px">{{ forloop.counter }}</td>
                                <td style="width: 50px;word-break:break-all;text-align: center;font-size: 12px">{{ rec2.keywords }}</td>
                                <td style="width: 50px;word-break:break-all;text-align: center;font-size: 12px">{{ rec2.module }}</td>
                                <td style="white-space: normal;overflow: hidden;text-align: center;font-size: 12px">{{ rec2.type }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <span style="font-size: 10px;margin-top: -30px">* 关键字用于头信息、接口请求参数、断言匹配关键字</span><br>
                <span style="font-size: 10px;color: #FFA500">* 关键字引用格式：<span style="color: blue">{</span><span style="color: darkgoldenrod">关键字</span><span style="color: blue">}</span></span>
            </div>
        </div>

        <div class="row" id="yes_div1" style="display: none">
            <div class="col-md-7">
                <div class="table-responsive" style="margin-left: 10px">
                    <table class="table table-bordered">
                        <caption>接口返回参数列表（非必填）</caption>
                        <thead>
                        <tr>
                            <th style="text-align: center;font-size: 12px">#</th>
                            <th style="display: none">id</th>
                            <th style="text-align: center;font-size: 12px">参数名称</th>
                            <th style="text-align: center;font-size: 12px">关键字</th>
                            <th style="text-align: center;font-size: 12px">左边界</th>
                            <th style="text-align: center;font-size: 12px">右边界</th>
                            <th style="text-align: center;font-size: 12px">索引</th>
                            <th style="text-align: center;font-size: 12px">添加行</th>
                            <th style="text-align: center;font-size: 12px">删除行</th>
                        </tr>
                        </thead>

                        <tbody id="tbody_resp_edit">
                        {% if flag_resp == "false" %}
                            <tr>
                                <td style="width: 30px;white-space: normal;text-align: center;">1</td>
                                <td style="display: none"></td>
                                <td style="width: 150px;text-align: center;">
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="resp_edit_name" class="form-control">
                                    </div>
                                </td>
                                <td style="width: 120px;text-align: center;">
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="resp_edit_keywords" class="form-control">
                                    </div>
                                </td>
                                <td style="width: 150px;text-align: center;">
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="resp_edit_left" class="form-control">
                                    </div>
                                </td>
                                <td style="width: 150px;text-align: center;">
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="resp_edit_right" class="form-control">
                                    </div>
                                </td>
                                <td style="width: 80px;text-align: center;">
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="resp_edit_index" class="form-control">
                                    </div>
                                </td>
                                <td style="width: 80px;text-align: center;">
                                    <div class="btn-group btn-xs">
                                        <button type="button" class="btn btn-primary btn-sm"
                                                onclick="add_resp_edit_row(this)">+
                                        </button>
                                    </div>
                                </td>
                                <td style="width: 80px;text-align: center;">
                                    <div class="btn-group btn-xs">
                                        <button type="button" class="btn btn-danger btn-sm" disabled="disabled">-</button>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            {% for rec3 in public_list_resp %}
                                <tr>
                                    <td style="width: 30px;white-space: normal;text-align: center;">{{ forloop.counter }}</td>
                                    <td style="display: none"></td>
                                    <td style="width: 150px;text-align: center;">
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="resp_edit_name" class="form-control" value="{{ rec3.name }}">
                                        </div>
                                    </td>
                                    <td style="width: 120px;text-align: center;">
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="resp_edit_keywords" class="form-control" value="{{ rec3.keywords }}">
                                        </div>
                                    </td>
                                    <td style="width: 150px;text-align: center;">
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="resp_edit_left" class="form-control" value="{{ rec3.left }}">
                                        </div>
                                    </td>
                                    <td style="width: 150px;text-align: center;">
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="resp_edit_right" class="form-control" value="{{ rec3.right }}">
                                        </div>
                                    </td>
                                    <td style="width: 80px;text-align: center;">
                                        <div class="input-group input-group-sm">
                                            <input type="text" name="resp_edit_index" class="form-control" value="{{ rec3.index }}">
                                        </div>
                                    </td>
                                    <td style="width: 80px;text-align: center;">
                                        <div class="btn-group btn-xs">
                                            <button type="button" class="btn btn-primary btn-sm"
                                                    onclick="add_resp_edit_row(this)">+
                                            </button>
                                        </div>
                                    </td>
                                    <td style="width: 80px;text-align: center;">
                                        <div class="btn-group btn-xs">
                                            <button type="button" class="btn btn-danger btn-sm" onclick="del_resp_edit_row(this)">-</button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    function set_para(ele) {
        var mode = {{ mode|safe }};
        if (mode != false) {
            var mode_val = mode.textContent.replace(/\s+/g, "");     //mode的去掉所以空格
            $('#GET').attr('class', 'btn btn-warning');    //清除其他模态框中的选中状态
            $('#POST').attr('class', 'btn btn-warning');
            $('#UPLOAD_PIC').attr('class', 'btn btn-warning');
            if (mode_val == 'GET') {
                $('#GET').attr('class', 'btn btn-warning active');
                $('#GET1').attr('checked', true);
            }
            else if (mode_val == 'POST') {
                $('#POST').attr('class', 'btn btn-warning active');
                $('#POST1').attr('checked', true);
            }
            else if (mode_val == 'UPLOAD_PIC') {
                $('#UPLOAD_PIC').attr('class', 'btn btn-warning active');
                $('#UPLOAD_PIC1').attr('checked', true);
            }
        }

        var body_format = {{ body_format|safe }};
        if(body_format != false || body_format == 0){
            $('#is_FORM').attr('class', 'btn btn-warning');    //清除其他模态框中的选中状态
            $('#is_JSON').attr('class', 'btn btn-warning');
            if (body_format == '0') {
                $('#is_FORM').attr('class', 'btn btn-warning active');
                $('#is_FORM1').attr('checked', true);
            }
            else if (body_format == '1') {
                $('#is_JSON').attr('class', 'btn btn-warning active');
                $('#is_JSON1').attr('checked', true);
            }
        }
    }

    function show_no(ele) {
        $('#no_div1').show();
        $('#yes_div1').hide();
    }

    function show_yes(ele) {
        $('#no_div1').hide();
        $('#yes_div1').show();
    }

    function format_body_suit(ele) {
        $('.formated_str').empty();
        $('.formated_dict').empty();
        original_body = $('.original_body')[0].value;
        console.log(original_body);

        $.ajax({
            url: "/format_body/",
            data: JSON.stringify({ // JSON格式封装数据
                original_body: original_body,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }),
            headers: {'X-CSRFToken': '{{ csrf_token }}'}, //csrf
            contentType: 'application/json;charset=utf-8',
            type: "POST",
            traditional: true, // 需要传递列表、字典时加上这句
            success: function (result) {
                $('.formated_str').append(decodeURIComponent(result['json_str']));
                $('.formated_dict').append(decodeURIComponent(result['json_dict']));
            },
            fail: function (result) {
                debugger
            }
        });
    }

    function add_resp_edit_row(ele) {
        var root = document.getElementById("tbody_resp_edit");
        var row_num = $(ele).parent().parent().parent()[0].rowIndex;
        var newRow = root.insertRow(row_num);

        var newCell0 = newRow.insertCell();
        var newCell1 = newRow.insertCell();
        var newCell2 = newRow.insertCell();
        var newCell3 = newRow.insertCell();
        var newCell4 = newRow.insertCell();
        var newCell5 = newRow.insertCell();
        var newCell6 = newRow.insertCell();
        var newCell7 = newRow.insertCell();

        newCell0.innerHTML = 'new';
        newCell0.style = "width: 30px;white-space: normal;text-align: center;";
        newCell1.innerHTML = '<div class="input-group input-group-sm"><input type="text" name="resp_edit_name" class="form-control"></div>';
        newCell1.style = "width: 150px;text-align: center;";
        newCell2.innerHTML = '<div class="input-group input-group-sm"><input type="text" name="resp_edit_keywords" class="form-control"></div>';
        newCell2.style = "width: 120px;text-align: center;";
        newCell3.innerHTML = '<div class="input-group input-group-sm"><input type="text" name="resp_edit_left" class="form-control"></div>';
        newCell3.style = "width: 150px;text-align: center;";
        newCell4.innerHTML = '<div class="input-group input-group-sm"><input type="text" name="resp_edit_right" class="form-control"></div>';
        newCell4.style = "width: 150px;text-align: center;";
        newCell5.innerHTML = '<div class="input-group input-group-sm"><input type="text" name="resp_edit_index" class="form-control"></div>';
        newCell5.style = "width: 80px;text-align: center;";
        newCell6.innerHTML = '<div class="btn-group btn-xs"><button type="button" class="btn btn-primary btn-sm" onclick="add_resp_edit_row(this)">+</button></div>';
        newCell6.style = "width: 80px;text-align: center;";
        newCell7.innerHTML = '<div class="btn-group btn-xs"><button type="button" class="btn btn-danger btn-sm" onclick="del_resp_edit_row(this)">-</button></div>';
        newCell7.style = "width: 80px;text-align: center;";
    }

    function del_resp_edit_row(ele) {
        var root = document.getElementById("tbody_resp_edit");
        var row_num = $(ele).parent().parent().parent()[0].rowIndex;
        root.deleteRow(row_num-1);
    }
</script>
</body>
</html>