<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="/static/style_login_both/css/style.css"/>
</head>

<body>
<div class="register-container">
    <h1>恭喜 {{ username }} ,注册成功！</h1>

    <div class="connect">
        <p>www.h18n.com</p>
    </div>

    <a href="/login">
        <button type="button" class="register-tis">去登录</button>
    </a>

</div>

<script src="/static/style_login_both/js/jquery.min.js"></script>
<script src="/static/style_login_both/js/common.js"></script>
<!--表单验证-->
<script src="/static/style_login_both/js/jquery.validate.min.js?var1.14.0"></script>
</body>
</html>